@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($direction) {
    @include flexbox;
    flex-direction: $direction;

    .wrap {
      white-space: normal;
    }
    .nowrap {
      white-space: nowrap;
    }
}
