:host {
    height: 100%;
    width: 100%;
}
.sortable-list__container {
    color: var(--gui-color);
    font-size: var(--gui-font--base);
    background: var(--gui-color--background--light);
    border-radius: var(--gui-border-radius);
    border: var(--gui-border--lightest);
    margin: 0;
    padding: 0;
    overflow: scroll;

    li {
        cursor: grab;
        user-select: none;
        list-style: none;
        font-size: var(--gui-font--xs);

        &.fill-icon {
            padding-left: calc(var(--gui-padding--m) + var(--gui-padding--nano));
        }

        &.use-hover {
            &.ignore-element {
                cursor: default;

                &:hover:not(.header) {
                    background: var(--gui-color--alert);
                }
            }
            &:hover:not(.header) {
                backdrop-filter: var(--gui-highlight-filter);
            }
        }

        &.sortable-chosen:not(.header) {
            backdrop-filter: var(--gui-highlight-filter);
        }
    }
}
