.filter-chip {
    font-size: var(--gui-font--base);
    cursor: pointer;
    border-radius: var(--gui-border-radius--chip);
    user-select: none;
    position: relative;
    color: var(--gui-color);
    margin: 0;
    margin-right: var(--gui-padding--m);
    padding: var(--gui-padding--nano) var(--gui-padding--xs);
    padding-left: 0;
    white-space: nowrap;
    width: max-content;

    span {
        line-height: var(--gui-font--s);
        margin: var(--gui-padding--xxs) 0;
    }

    em {
        font-size: var(--gui-font--m);
        transition: all ease-in 300ms;
    }

    &.expanded:not(.active) {
        em {
            transform: rotate(180deg);
        }
    }

    &.active {
        background: var(--gui-color--background--light);
        margin-right: var(--gui-padding--l);
        padding-left: var(--gui-padding--xs);

        em {
            margin-left: var(--gui-padding--xxs);
            margin-top: var(--gui-padding--nano);
            font-size: var(--gui-font--xs);
        }
    }

    &.modern {
        padding: var(--gui-padding--xxs) var(--gui-padding--xs);
        border-radius: var(--gui-border-radius--chip--modern);

        span {
            text-transform: capitalize;
            margin: 0;
        }

        em {
            font-size: var(--gui-font--xs);
            margin-left: var(--gui-padding--xxs);
        }

        &.active {
            background: var(--gui-color--background--modern);

            span {
                color: var(--gui-color--modern--contrast);
                margin-left: var(--gui-padding--nano);
            }

            em {
                color: var(--gui-color--modern);
                margin-top: 0;
                font-weight: bold;
            }
        }
    }
}
