.button__wrapper {
    font-family: var(--gui-font-family);
    font-size: var(--gui-font--base);
    background-color: var(--gui-color--background--light);
    color: var(--gui-color);
    padding: var(--gui-padding--xs) var(--gui-padding--m);
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    outline: none;
    border: none;

    em {
        font-size: var(--gui-font--s);
    }

    &:hover {
        filter: brightness(0.95);
    }
    &:active {
        filter: brightness(0.9);
        outline: none;
    }

    &.icon {
        padding: var(--gui-padding--xs);
    }

    &.text {
        .button__icon {
            &--left {
                margin-right: var(--gui-padding--xxs);
            }
            &--right {
                margin-left: var(--gui-padding--xxs);
            }
        }
    }

    &.cancel {
        color: var(--gui-color--contrast);
        background-color: var(--gui-color--alert);
    }

    &.action {
        background-color: transparent;
        font-weight: var(--gui-font-weight--extra-bold);
        padding: var(--gui-padding--xs) 0;

        &:hover {
            color: var(--gui-color--light);
        }

        &.cancel {
            color: var(--gui-color--alert);
        }
    }

    &.tiny {
        text-transform: uppercase;
        font-weight: var(--gui-font-weight--normal);
        font-size: var(--gui-font--xxs);
    }

    &.modern {
        background-color: transparent;
        border: var(--gui-border--light);
        border-width: 2px;
        border-radius: var(--gui-border-radius);
        transition: all ease-in 100ms;

        &.icon {
            border: none;
            padding: calc(var(--gui-padding--xs) + 1px) var(--gui-padding--xs);

            em {
                font-size: var(--gui-font--m);
            }
        }

        &.cancel {
            color: var(--gui-color--alert);
            border-color: var(--gui-color--alert);

            &:hover {
                background-color: var(--gui-color--alert);
                color: var(--gui-color--contrast);
            }
        }

        &.action {
            border: none;
            &:hover {
                background-color: transparent;
                color: inherit;
                opacity: 0.8;
                &.cancel {
                    color: var(--gui-color--alert);
                }
            }
        }
        &:hover {
            background-color: var(--gui-color--light);
            color: var(--gui-color--contrast);

            em {
                color: var(--gui-color--contrast);
            }
        }
    }
}
