.button__wrapper {
    background-color: var(--gui-color--primary);
    padding: var(--gui-padding--xs) var(--gui-padding--m);
    display: inline-flex;
    vertical-align:middle;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    font-size: var(--gui-font--xs);

    &:hover {
        filter: brightness(.95);
    }

    &.icon {
        padding: var(--gui-padding--xs);
    }

    &.modern {
        background-color: transparent;
        border: 2px solid var(--gui-color--dark);
        border-radius: var(--gui-border-radius);
        transition: all ease-in 100ms;

        &.icon {
            border: none;
            font-size: var(--gui-font--m);
        }

        &:hover {
            background-color: var(--gui-color--dark);
            color: var(--gui-color--font--contrast);

            em {
                color: var(--gui-color--font--contrast);
            }
        }
    }
}
