.button__wrapper {
    background-color: var(--gui-color--background--light);
    padding: var(--gui-padding--xs) var(--gui-padding--m);
    display: inline-flex;
    vertical-align:middle;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    font-size: var(--gui-font--xs);
    outline: none;
    border: none;

    &:hover {
        filter: brightness(.95);
    }
    &:focus {
        filter: brightness(.9);
        outline: none;
    }

    &.icon {
        padding: var(--gui-padding--xs);
    }


    &.modern {
        background-color: transparent;
        border: var(--gui-border--light);
        border-width: 2px;
        border-radius: var(--gui-border-radius);
        transition: all ease-in 100ms;

        &.icon {
            border: none;
            font-size: var(--gui-font--m);
        }

        &:hover {
            background-color: var(--gui-color--light);
            color: var(--gui-color--contrast);

            em {
                color: var(--gui-color--contrast);
            }
        }
    }
}
