.button__wrapper {
    background-color: var(--gui-color--background--light);
    padding: var(--gui-padding--xs) var(--gui-padding--m);
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    font-size: var(--gui-font--xs);
    outline: none;
    border: none;

    &:hover {
        filter: brightness(0.95);
    }
    &:active {
        filter: brightness(0.9);
        outline: none;
    }

    &.icon {
        padding: var(--gui-padding--xs);
    }

    &.cancel {
        color: var(--gui-color--contrast);
        background-color: var(--gui-color--alert);
    }

    &.only-text {
        background-color: transparent;
        font-weight: var(--gui-font-weight--extra-bold);

        &.cancel {
            color: var(--gui-color--alert);
        }
    }

    &.modern {
        background-color: transparent;
        border: var(--gui-border--light);
        border-width: 2px;
        border-radius: var(--gui-border-radius);
        transition: all ease-in 100ms;

        &.icon {
            border: none;
            font-size: var(--gui-font--m);
        }

        &.cancel {
            color: var(--gui-color--alert);
            border-color: var(--gui-color--alert);

            &:hover {
                background-color: var(--gui-color--alert);
                color: var(--gui-color--contrast);
            }
        }

        &.only-text {
            border: none;
            &:hover {
                background-color: transparent;
                color: inherit;
                opacity: 0.8;
                &.cancel {
                    color: var(--gui-color--alert);
                }
            }
        }
        &:hover {
            background-color: var(--gui-color--light);
            color: var(--gui-color--contrast);

            em {
                color: var(--gui-color--contrast);
            }
        }
    }
}
