:host {
    color: var(--gui-color);
    font-size: var(--gui-font--base);
}
glyph-sk-loader {
    margin-bottom: var(--gui-padding--xs);
    display: flex;
}
table {
    user-select: none;
    border-collapse: collapse;

    thead {
        th {
            cursor: default;
            text-align: right;
            font-size: var(--gui-font--xxs);
            text-transform: uppercase;
            color: var(--gui-color--light);
            padding-top: var(--gui-padding--xxxs);

            div {
                color: var(--gui-color--light);
                padding-left: var(--gui-padding--xs);
            }

            &:first-of-type {
                text-align: left;
            }

            .material-icons {
                display: none;
                cursor: pointer;
                font-size: var(--gui-font--xxs);
                padding-left: var(--gui-padding--nano);
                opacity: 0.5;

                &.active {
                    opacity: 1;
                    display: block;
                }
            }

            &:hover {
                .material-icons {
                    display: block;
                }
            }
        }
    }
}

.pagination__container {
    margin-top: var(--gui-padding--s);

    .actions {
        .view-all {
            font-size: var(--gui-font--xs);
            margin-bottom: var(--gui-padding--xxs) 0;
            cursor: pointer;
            font-weight: var(--gui-font-weight--bold);
            color: var(--gui-color--light);

            &:hover {
                color: var(--gui-color);
            }
        }

        .download {
            cursor: pointer;
            color: var(--gui-color--light);
            padding-left: var(--gui-padding--xxs);
            font-size: var(--gui-font--s);

            &:hover {
                color: var(--gui-color);
            }
        }
    }
}

