@font-face{
    font-family: Zara;
    font-weight: 400;
    src:url('../assets/fonts/Zara.woff2')
}

@font-face{
    font-family: Zara;
    font-weight: 700;
    src:url('../assets/fonts/ZaraBold.woff2')
}
