@font-face {
    font-family: Zara;
    font-weight: bold;
    src: url('../assets/fonts/NeueHelveticaforZara-MdCn.otf') format('opentype');
}

@font-face {
    font-family: Zara;
    font-weight: bolder;
    src: url('../assets/fonts/NeueHelveticaforZara-BoldCn.otf') format('opentype');
}

@font-face {
    font-family: Zara;
    font-weight: lighter;
    src: url('../assets/fonts/NeueHelveticaforZara-LtCn.otf') format('opentype');
}

@font-face {
    font-family: Zara;
    font-weight: normal;
    src: url('../assets/fonts/NeueHelveticaforZara-Roman.otf') format('opentype');
}
