.no-data {
    font-size: var(--zd-font--s);
    line-height: var(--zd-font--m);

    em {
        font-size: var(--zd-font--l);
    }

    &.simple {
        em {
            margin-right: var(--zd-padding--xxs);
            padding-right: 0px;
            color: var(--zd-color--danger);
        }
    }

    &.complex {
        h3 {
            font-weight: var(--zd-font-weight--normal);
            font-size: var(--zd-font--m);
            line-height: var(--zd-font--l);
            margin: 0;
        }

        p {
            font-weight: var(--zd-font-weight--light);
            font-size: var(--zd-font--m);
            line-height: var(--zd-font--l);
            color: var(--zd-color--secondary);
            margin: 0;
        }
        em {
            font-size: var(--zd-font--xxl);
        }
    }
}
