.filter-options__container {
    --max-height: 300px;
    --min-width: 150px;

    position: absolute;
    margin-top: var(--gui-padding--xs);
    background: var(--gui-color--background--lighter);
    border: var(--gui-border--lightest);
    padding: var(--gui-padding--s);
    box-shadow: var(--gui-shadow);
    min-width: var(--min-width);
    overflow: hidden;
    user-select: none;
    z-index: 2;

    .operation {
        --side-margin: calc(var(--gui-padding--s) * -1);
        font-size: var(--gui-font--xs);
        border: var(--gui-border--lightest);
        padding: var(--gui-padding--xs) 0;
        padding-left: var(--gui-padding--s);
        padding-right: var(--gui-padding--s);
        margin: 0 var(--side-margin) var(--gui-padding--xxs) var(--side-margin);
        border-right: 0;
        border-left: 0;
    }
    &.modern {
        .operation {
            margin: 0;
            border: none;
            padding-right: 0;
        }
    }

    .search-box {
        border: var(--gui-border--lightest);
        border-radius: 2px;
        padding-left: var(--gui-padding--xxs);
        margin-bottom: var(--gui-padding--s);

        input {
            outline: 0;
            border: none;
            background: var(--gui-color--background--lighter);
            font-size: var(--gui-font--xxs);
            margin: var(--gui-padding--xxs) 0;
            margin-left: var(--gui-padding--xxxs);
            color: var(--gui-color--font);
        }
    }

    &.modern {
        .search-box {
            margin: var(--gui-padding--s) 0;
        }
    }

    .children__container {
        width: 100%;

        .children--header {
            &.expanded {
                margin-bottom: var(--gui-padding--s);
            }
        }
        ul {
            padding-left: var(--gui-padding--s);
        }
    }

    .scroll__container {
        position: relative;
        min-height: var(--max-height);
        max-height: var(--max-height);
    }

    ul {
        padding-right: var(--gui-padding--s);
        list-style: none;
        padding: 0;
        margin: 0;

        li,
        .option {
            font-size: var(--gui-font--xs);
            padding: var(--gui-padding--xxs) 0;
            margin: 0;
        }
        .option {
            width: 100%;
            cursor: pointer;

            span {
                text-transform: lowercase;
                margin-right: var(--gui-padding--xxxs);

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            em {
                width: 13px;
            }

            &.active {
                font-weight: var(--gui-font-weight--extra-bold);
            }
        }
    }
}
