.filter-options__container {
    --max-height: 300px;
    --min-width: 150px;

    color: var(--gui-color);
    font-size: var(--gui-font--base);
    position: absolute;
    margin-top: var(--gui-padding--xxxs);
    background: var(--gui-color--background--lighter);
    border: var(--gui-border--lightest);
    padding: var(--gui-padding--s);
    box-shadow: var(--gui-shadow);
    min-width: var(--min-width);
    overflow: hidden;
    user-select: none;
    z-index: 2;

    .operation {
        --side-margin: calc(var(--gui-padding--s) * -1);
        border: var(--gui-border--lightest);
        padding: var(--gui-padding--xs) 0;
        padding-left: var(--gui-padding--s);
        padding-right: var(--gui-padding--s);
        margin: 0 var(--side-margin) var(--gui-padding--xxs) var(--side-margin);
        border-right: 0;
        border-left: 0;
    }
    &.modern {
        .operation {
            margin: 0;
            border: none;
            padding-right: 0;
        }
    }
    &.redesign {
        box-shadow: none;
        border: var(--gui-border);

        .search {
            margin-bottom: var(--gui-padding--s);
        }

        .operation {
            padding: var(--gui-padding--s) var(--gui-padding--s);
            &:not(.withSearch) {
                border-top: none;
                padding-top: 0;
            }
        }
    }

    .search-box {
        border: var(--gui-border--lightest);
        border-radius: 2px;
        padding-left: var(--gui-padding--xxs);
        margin-bottom: var(--gui-padding--s);

        input {
            outline: 0;
            border: none;
            background: var(--gui-color--background--lighter);
            font-size: .9em;
            margin: var(--gui-padding--xxs) 0;
            margin-left: var(--gui-padding--xxxs);
            color: var(--gui-color--font);
        }
    }

    &.modern {
        .search-box {
            margin: var(--gui-padding--s) 0;
        }
    }

    .scroll__container {
        --scrollbar-height: var(--max-height);
        position: relative;
        max-height: var(--max-height);
        width: 100%;
        padding-right: var(--gui-padding--s);
    }
}
