.filter-chip {
    cursor: pointer;
    border-radius: 2px;
    user-select: none;
    position: relative;
    font-size: var(--zd-font--xs);
    margin: 0 var(--zd-padding--m) 0 0;
    padding: var(--zd-padding--xs);
    padding-left: 0;
    white-space: nowrap;
    width: max-content;

    span {
        line-height: var(--zd-font--s);
        margin: var(--zd-padding--xxs) 0;
    }

    em {
        font-size: var(--zd-font--m);
        transition: all ease-in 300ms;
    }

    &.expanded:not(.active) {
        em {
            transform: rotate(180deg);
        }
    }

    &.active {
        background: var(--zd-color--primary);
        margin-right: var(--zd-padding--l);
        padding-left: var(--zd-padding--xs);

        em {
            margin-left: var(--zd-padding--s);
            margin-top: var(--zd-padding--nano);
            font-size: var(--zd-font--xs);
        }
    }
}
