.filter-chip {
    cursor: pointer;
    border-radius: 2px;
    user-select: none;
    position: relative;
    font-size: var(--zd-font--xs);
    margin: 0 var(--zd-padding--m) 0 0;
    padding: var(--zd-padding--xs);
    padding-left: 0;
    white-space: nowrap;
    width: max-content;

    span {
        line-height: var(--zd-font--s);
        margin: var(--zd-padding--xxs) 0;
    }

    em {
        font-size: var(--zd-font--m);
        transition: all ease-in 300ms;
    }

    &.expanded:not(.active) {
        em {
            transform: rotate(180deg);
        }
    }

    &.active {
        background: var(--zd-color--primary);
        margin-right: var(--zd-padding--l);
        padding-left: var(--zd-padding--xs);

        em {
            margin-left: var(--zd-padding--s);
            margin-top: var(--zd-padding--nano);
            font-size: var(--zd-font--xs);
        }
    }
}
.filter-options__container {
    --max-height: 300px;
    --min-width: 150px;

    position: absolute;
    margin-top: var(--zd-padding--xs);
    background: var(--zd-color--background--third);
    border: var(--zd-border--light);
    padding: var(--zd-padding--s);
    box-shadow: var(--zd-shadow);
    min-width: var(--min-width);
    overflow: hidden;
    user-select: none;

    .operation {
        --side-margin: calc(var(--zd-padding--s) * -1);
        font-size: var(--zd-font--xs);
        border: var(--zd-border--light);
        padding: var(--zd-padding--xs) 0;
        padding-left: var(--zd-padding--s);
        padding-right: var(--zd-padding--s);
        margin: 0 var(--side-margin) 0 var(--side-margin);
        border-right: 0;
        border-left: 0;
    }

    .search-box {
        border: var(--zd-border--light);
        border-radius: 2px;
        padding-left: var(--zd-padding--xxs);
        margin-bottom: var(--zd-padding--s);

        input {
            outline: 0;
            border: none;
            background: var(--zd-color--background--third);
            font-size: var(--zd-font--xxs);
            margin: var(--zd-padding--xxs) 0;
            margin-left: var(--zd-padding--xxxs);
            color: var(--zd-color--font);
        }
    }

    .children__container {
        width: 100%;
        ul {
            padding-left: var(--zd-padding--s);
        }
    }

    ul {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: var(--max-height);
        padding-right: var(--zd-padding--s);
        list-style: none;
        padding: 0;
        margin: 0;

        li,
        .option {
            font-size: var(--zd-font--xs);
            padding: var(--zd-padding--xxs) 0;
            margin: 0;
        }
        .option {
            width: 100%;
            text-transform: none;
            cursor: pointer;

            em {
                width: 13px;
            }

            &.active {
                font-weight: var(--zd-font-weight--extra-bold);
            }
        }
    }
}
