@use 'flex-mixin'as flex;

.column {
    @include flex.flex(column);

    &.top {
        justify-content: flex-start;
    }
    &.middle {
        justify-content: center;
    }
    &.bottom {
        justify-content: flex-end;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.space-around {
        justify-content: space-around;
    }
    &.left {
        align-items: flex-start;
    }
    &.right {
        align-items: flex-end;
    }
    &.center {
        align-items: center;
    }
}
