@use 'flex-mixin'as flex;

.row {
    @include flex.flex(row);

    &.middle {
        align-items: center;
    }
    &.bottom {
        align-items: flex-end;
    }
    &.top {
        align-items: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    &.left {
        justify-content: flex-start;
    }
    &.center {
        justify-content: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.space-around {
        justify-content: space-around;
    }
}
