.calendar__container {
    --active-bg: var(--gui-color);
    --active-bg--secondary: var(--gui-color--attention);
    font-size: var(--gui-font--base);
    color: var(--gui-color);
    height: 100%;

    .calendar {
        border-right: var(--gui-border--lightest);
        padding: 0 var(--gui-padding--l);
        height: 100%;
        user-select: none;

        &:last-of-type {
            border-right: none;
        }
        &__header {
            width: 100%;
            margin: var(--gui-padding--s) 0;
            text-transform: capitalize;
            font-size: var(--gui-font--xxs);

            span {
                display: flex;
            }

            &__month {
                cursor: pointer;
            }
            &__arrow {
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                }
                &.before {
                    margin-left: var(--gui-padding--xxxs);
                }
                &.after {
                    margin-right: var(--gui-padding--xxxs);
                }
            }
        }
        &__days__container {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            &__header {
                font-weight: var(--gui-font-weight--extra-bold);
                padding: var(--gui-padding--xxxs) 0;
            }
            &__day {
                cursor: pointer;
                padding: var(--gui-padding--xxs) var(--gui-padding--xs);

                &:not(.selectable) {
                    opacity: .5;
                }
                &.selected--secondary {
                    background-color: var(--active-bg--secondary);
                    color: var(--gui-color--contrast);
                    opacity: 0.6;

                    &.secondary {
                        opacity: 1;
                    }
                }
                &.selected {
                    background-color: var(--active-bg);
                    color: var(--gui-color--contrast);

                    &.secondary {
                        background-color: var(--gui-color--lighter);
                        opacity: .7;
                    }
                    &:not(.selectable) {
                        background-color: transparent;
                        color: var(--gui-color);
                    }
                }
                &.in-range:not(.disabled) {
                    background-color: var(--active-bg);
                    color: var(--gui-color--contrast);
                }
                &.in-range--secondary {
                    background-color: var(--active-bg--secondary);
                    color: var(--gui-color--contrast);
                }
                &.disabled {
                    cursor: not-allowed;
                    text-decoration: line-through;
                    opacity: .5;
                }
                &:hover:not(.disabled) {
                    color: var(--gui-color--light);
                    background-color: var(--gui-color--lightest);

                    &.secondary {
                        background-color: var(--gui-color--attention);
                        color: var(--gui-color--contrast);
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
