body {
  font-family: 'Roboto', sans-serif;
}

:root {
    /* Padding and margin */
    --zd-padding--nano: 2px;
    --zd-padding--xxxs: 4px;
    --zd-padding--xxs: 6px;
    --zd-padding--xs: 8px;
    --zd-padding--s: 12px;
    --zd-padding--m: 16px;
    --zd-padding--l: 24px;
    --zd-padding--xl: 32px;
    --zd-padding--xxl: 48px;
    --zd-padding--xxxl: 64px;
    --zd-padding--huge: 124px;

    /* Font sizes */
    --zd-font--nano: 5px;
    --zd-font--xxxs: 8px;
    --zd-font--xxs: 11px;
    --zd-font--xs: 12px;
    --zd-font--s: 14px;
    --zd-font--m: 17px;
    --zd-font--l: 25px;
    --zd-font--xl: 32px;
    --zd-font--xxl: 48px;
    --zd-font--xxxl: 64px;

    /* font weights */
    --zd-font-weight--light: 300;
    --zd-font-weight--normal: 400;
    --zd-font-weight--bold: 500;
    --zd-font-weight--extra-bold: 600;

    /* font family */
    --zd-font-family: 'Roboto', sans-serif;

    /* transitions */
    --zd-transition--300: all ease-in-out 300ms;

    /* shadows */
    --zd-shadow--small: 0 -10px 16px rgba(0, 0, 0, 0.12);
    --zd-shadow--tiny: 0 2px 11px rgba(0, 0, 0, 0.12);
    --zd-shadow--top: 0 -17px 16px rgba(0, 0, 0, 0.12);

    /* ios*/
    --zd-padding--ios: 115px;
    --zd-padding--ios--scrolled: 70px;
}
