.input__container {
    border-bottom: var(--gui-border);

    em {
        font-size: var(--gui-font--s);
        color: var(--gui-color--light);
        user-select: none;

        &.eye {
            cursor: pointer;
            margin-right: var(--gui-padding--xxxs);
            &:hover {
                color: var(--gui-color);
            }
        }
    }

    &.box {
        border: var(--gui-border--lightest);
        border-radius: 2px;
        padding: 0 var(--gui-padding--xxs);
        height: calc(100% - var(--gui-padding--s));
        margin-bottom: var(--gui-padding--s);

        .input__wrapper { 
            flex: 1;

            input {
                flex: 1;
            }
        }
    }
    &.error {
        border-color: var(--gui-color--alert);
        input, input::placeholder {
            color: var(--gui-color--alert);
        }
    }
    input {
        outline: 0;
        border: none;
        background: var(--gui-color--background--lighter);
        font-size: var(--gui-font--xxs);
        margin: var(--gui-padding--xxs) 0;
        margin-left: var(--gui-padding--xxxs);
        color: var(--gui-color--font);
    }
}
