.input__container {
    color: var(--gui-color);
    font-size: var(--gui-font--base);
    border-bottom: var(--gui-border);

    .input__wrapper {
        flex: 1;

        input {
            flex: 1;
        }
    }

    em {
        font-size: var(--gui-font--s);
        color: var(--gui-color--light);
        user-select: none;

        &.eye {
            cursor: pointer;
            margin-right: var(--gui-padding--xxxs);

            &:hover {
                color: var(--gui-color);
            }
        }
    }

    &.box {
        border: var(--gui-border--lightest);
        border-radius: 2px;
        padding: 0 var(--gui-padding--xxs);
        height: calc(100% - var(--gui-padding--s));
        margin-bottom: var(--gui-padding--s);
    }
    &.error {
        border-color: var(--gui-color--alert);
        input,
        input::placeholder {
            color: var(--gui-color--alert);
        }
    }
    &.disabled {
        opacity: .7;
        background-color: rgb(250 250 250);

        input {
            background: transparent;
            color: var(--gui-color--light);
        }
    }
    input {
        outline: 0;
        border: none;
        background: var(--gui-color--background--lighter);
        font-size: var(--gui-font--xxs);
        margin: var(--gui-padding--xxs) 0;
        margin-left: var(--gui-padding--xxxs);
        color: var(--gui-color--font);

        &:disabled {
            opacity: .7;
        }
    }
}
