.input__container {
    color: var(--gui-color);
    font-size: var(--gui-font--base);
    border-bottom: var(--gui-border);

    .input__wrapper {
        flex: 1;
        position: relative;

        input {
            flex: 1;
            background: transparent;
        }
    }
    &.redesign {
        .input__wrapper {
            flex-direction: row-reverse;
        }
        &.box {
            border: var(--gui-border);
        }
    }

    em {
        font-size: var(--gui-font--s);
        color: var(--gui-color--light);
        user-select: none;

        &.eye {
            cursor: pointer;
            margin-right: var(--gui-padding--xxxs);

            &:hover {
                color: var(--gui-color);
            }
        }
    }

    &.box {
        border: var(--gui-border--lightest);
        border-radius: 2px;
        padding: 0 var(--gui-padding--xxs);
        height: calc(100% - var(--gui-padding--s));
        margin-bottom: var(--gui-padding--s);
    }
    &.error {
        border-color: var(--gui-color--alert);
        input,
        input::placeholder {
            color: var(--gui-color--alert);
        }
    }
    &.disabled {
        opacity: 0.7;
        background-color: rgb(250 250 250);

        input {
            background: transparent;
            color: var(--gui-color--light);
        }
    }
    input {
        outline: 0;
        border: none;
        background: var(--gui-color--background--lighter);
        font-size: var(--gui-font--xxs);
        margin: var(--gui-padding--xxs) 0;
        margin-left: var(--gui-padding--xxxs);
        color: var(--gui-color--font);

        &:disabled {
            opacity: 0.7;
        }
    }
    input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    .number-control__container {
        opacity: 0;
        em {
            cursor: pointer;

            &.disabled {
                color: var(--gui-color--lightest);
                cursor: default;
            }
        }
    }
    &:hover {
        .number-control__container {
            opacity: 1;
        }
    }
    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        width: calc(100% - var(--gui-padding--m));
        background: var(--gui-color--background--contrast);
        height: 0px;
        outline: none;
        margin: 0;
        padding: 0 var(--gui-padding--xs);
        cursor: pointer;
        z-index: 2;

        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            opacity: 0;
            width: var(--knob-size); /* Set a specific slider handle width */
            height: var(--knob-size); /* Slider handle height */
            background: var(--gui-color--background--contrast); /* Green background */
            cursor: pointer; /* Cursor on hover */
            border-radius: 100%;
            transition: var(--gui-transition--300);
        }

        &::-moz-range-thumb {
            opacity: 0;
        }
    }
    .input--range__thumb {
        position: absolute;
        width: var(--knob-size); /* Set a specific slider handle width */
        height: var(--knob-size); /* Slider handle height */
        background: var(--gui-color--background--contrast); /* Green background */
        cursor: pointer; /* Cursor on hover */
        border-radius: 100%;
        transition: all ease-in-out 50ms;
        z-index: 0;

        &.transitioning {
            transition: all ease-in-out 700ms;
        }
    }
}
