.timeline__container {
    color: var(--gui-color);
    font-size: var(--gui-font--base);

    .timeline__options {
        margin: var(--gui-padding--m) 0;
    }
    .date {
        margin: var(--gui-padding--m) 0;
    }
    .event__container {
        .event__wrapper {
            margin: var(--gui-padding--m) 0;

            &__decoration {
                margin-right: var(--gui-padding--m);
            }
            .line {
                width: 2px;
                flex: 1;
                background-color: var(--gui-color--success);
            }
            .circle {
                --size: 10px;
                width: var(--size);
                height: var(--size);
                background-color: var(--gui-color--success);
                margin: var(--gui-padding--xxxs) 0;
                border-radius: 100%;
            }
            .caption {
                margin-top: var(--gui-padding--m);
                text-transform: uppercase;
            }
        }
    }
}
