.selector__options__container {
    position: absolute;
    background: var(--gui-color--background--lighter);
    box-shadow: var(--gui-shadow);
    border: var(--gui-border--lightest);
    width: 100%;
    min-width: fit-content;
    z-index: 1;
    max-height: var(--max-height);
    overflow: hidden;

    &.redesign {
        box-shadow: none;
    }
    &.search {
        max-height: calc(var(--max-height) + 52px);
    }

    glyph-input {
        display: block;
        padding: var(--gui-padding--s);
        padding-bottom: 0;
    }

    label {
        padding: var(--gui-padding--s);
        font-weight: var(--gui-font-weight--bold);
        text-transform: capitalize;
    }
    .options__container {
        width: 100%;

        &__column {
            flex: 1
        }
    }

    .option {
        font-size: var(--gui-font--xxs);
        padding: var(--gui-padding--s);
        cursor: pointer;
        user-select: none;

        &:hover {
            background: var(--gui-color--background--light);
        }
        &.disabled {
            cursor: not-allowed;
            opacity: .7;
        }

        span {
            text-transform: lowercase;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        .checkbox {
            --size: 10px;
            width: var(--size);
            height: var(--size);
            border: var(--gui-border);
            margin-right: var(--gui-padding--xs);
            margin-top: -1px;

            &.active {
                background: var(--gui-color--background--contrast);

                em {
                    color: var(--gui-color--contrast);
                    width: var(--size);
                    height: var(--size);
                    margin-left: -1px;
                }
            }
        }
    }
    .scroll__container {
        --scrollbar-height: var(--max-height);
        position: relative;
        max-height: var(--max-height);
        width: 100%;
    }
}

