.no-data {
    font-size: var(--gui-font--base);
    color: var(--gui-color);
    line-height: var(--gui-font--m);

    em {
        font-size: var(--gui-font--l);
    }

    &.simple {
        em {
            margin-right: var(--gui-padding--xxs);
            padding-right: 0px;
            color: var(--gui-color--danger);
        }
    }

    &.complex {
        h3 {
            font-weight: var(--gui-font-weight--normal);
            line-height: var(--gui-font--l);
            margin: 0;
        }

        p {
            font-weight: var(--gui-font-weight--light);
            line-height: var(--gui-font--l);
            color: var(--gui-color--light);
            margin: 0;
        }
        em {
            font-size: var(--gui-font--xxl);
        }
    }
}
