.user-menu__container {
    .caption {
        text-transform: uppercase;
    }
    &__row {
        width: 100%;
    }
    .separator {
        border-bottom: var(--gui-border--lightest);
        margin: var(--gui-padding--m) 0;
        width: 100%;
    }
    .option {
        cursor: pointer;
        font-size: var(--gui-font--xs);

        &:hover {
            opacity: 0.8;
        }

        span {
            margin-top: 1px;
        }

        em {
            font-size: var(--gui-font--l);
            margin-right: var(--gui-padding--xs);
        }
    }
    .logout {
        * {
            color: var(--gui-color--alert);
        }
    }
}
