.skeleton-loader {
    color: var(--gui-color);
    font-size: var(--gui-font--base);
	display: flex;
	height: 100%;
	flex: 1;
	background: var(--gui-color--lightest);
	animation: loading 3s infinite;
	margin-bottom: var(--gui-padding--s);

	&:last-of-type {
		margin-bottom: 0;
	}
}

@keyframes loading {
	25% {
		opacity: 1
	}
	75% {
		opacity: 0
	}

}

