table {
    border-collapse: collapse;

    thead {
        th {
            cursor: default;
            text-align: right;
            font-size: var(--zd-font--xxs);
            text-transform: uppercase;
            color: var(--zd-color--secondary);
            padding-top: var(--zd-padding--xxxs);

            div {
                padding-left: var(--zd-padding--xs);
            }

            &:first-of-type {
                text-align: left;
            }

            .material-icons {
                display: none;
                cursor: pointer;
                font-size: var(--zd-font--xxs);
                padding-left: var(--zd-padding--nano);
                opacity: 0.5;

                &.active {
                    opacity: 1;
                    display: block;
                }
            }

            &:hover {
                .material-icons {
                    display: block;
                }
            }
        }
    }
}

.pagination__container {
    margin-top: var(--zd-padding--s);

    .pagination {
        .pagination__page {
            transition: var(--zd-transition--300);
            font-size: var(--zd-font--xs);
            font-weight: var(--zd-font-weight--bold);
            padding: var(--zd-padding--xxs) var(--zd-padding--s);
            color: var(--zd-color--font--lighter);
            border-bottom: var(--zd-border--medium);
            border-bottom-width: 2px;
            cursor: pointer;
            display: inline-block;

            &.active {
                color: var(--zd-color--font);
                border-bottom-color: var(--zd-color--font--light);
            }
        }
    }

    .actions {
        .view-all {
            font-size: var(--zd-font--xs);
            margin-bottom: var(--zd-padding--xxs) 0;
            cursor: pointer;
            font-weight: var(--zd-font-weight--bold);
            color: var(--zd-color--font--medium);

            &:hover {
                color: var(--zd-color--secondary);
            }
        }

        .download {
            cursor: pointer;
            color: var(--zd-color--font--medium);
            padding-left: var(--zd-padding--xxs);
            font-size: var(--zd-font--xs);

            &:hover {
                color: var(--zd-color--secondary);
            }
        }
    }
}

