name: Filters config pipe
# Set global YAML variables
global:
  filters: &filters
    parameters:
      brand: "1,16"
      pageSize: 10000
  fields: &add_fields
    - add: display
      value: true
pipe:
  # Use current query filters
  - filters: true

  # Fetch entity data if endpoint is informed
  - parallel:
      - conditional: 
          if: ?$ endpoints.sections
          then:
            fetch:
              url: endpoints.sections
              store: sections

      - conditional:
          if: ?$ endpoints.products
          then:
            fetch:
              url: endpoints.products
              store: products

      - conditional:
          if: ?$ endpoints.product_lines
          then:
            fetch:
              url: endpoints.product_lines
              store: product_lines

      - conditional:
          if: ?$ endpoints.campaigns
          then:
            fetch:
              url: endpoints.campaigns
              store: campaigns

      - conditional:
          if: ?$ endpoints.families
          then: 
            fetch:
              url: endpoints.families
              store: families

      - conditional:
          if: ?$ endpoints.subfamilies
          then:
            fetch:
              url: endpoints.subfamilies
              store: subfamilies

      - conditional:
          if: ?$ endpoints.markets
          then:
            fetch:
              url: endpoints.markets
              data: data.entities
              store: markets
              <<: *filters

      - conditional:
          if: ?$ endpoints.platforms
          then:
            fetch:
              url: endpoints.platforms
              data: data.entities
              store: platforms
              <<: *filters

      - conditional:
          if: ?$ endpoints.warehouses
          then:
            fetch:
              url: endpoints.warehouses
              data: data.entities
              store: warehouses
              <<: *filters

      - conditional:
          if: ?> ctx => ctx.state.endpoints.family || ctx.state.endpoints.subfamily
          then:
            fetch:
              url: endpoints.article_properties
              store: properties

  # Field noramlization
  - parallel:
      - transform:
          data: ?$ sections
          keys:
            cod_section: code
          operations:
            - <<: *add_fields
      - transform:
          data: ?$ products
          keys:
            cod_product: code
          operations:
            - <<: *add_fields
      - transform:
          data: ?$ product_lines
          keys:
            cod_section: section
            cod_product_line: code
          operations:
            - <<: *add_fields
            - add: parents
              value: "(row) => ({ product: row.product, section: row.section })"
      - transform:
          data: ?$ campaigns
          keys:
            cod_season: code
          operations:
            - <<: *add_fields
            - add: description
              value: (row) => row.code
      - transform:
          data: ?$ families
          keys:
            cod_family: code
          operations:
            - <<: *add_fields
      - transform:
          data: ?$ subfamilies
          keys:
            cod_subfamily: code
          operations:
            - <<: *add_fields
      - transform:
          data: ?$ markets
          keys:
            name: description
          operations:
            - <<: *add_fields
            - add: market
              value: (row) => row.code
      - transform:
          data: ?$ platforms
          keys:
            name: description
            country: cod_country
          operations:
            - <<: *add_fields
            - add: market
              value: (row, ctx) => ctx.state.markets.find(market => market.platforms.includes(row.code)).code
            - add: parents
              value: "(row) => ({ market: row.market })"
      - transform:
          data: ?$ warehouses
          keys:
            name: description
          operations:
            - <<: *add_fields

  # Add extra product properties if it is necessary
  - conditional:
      if: ?$ properties
      then:
        parallel:
          - pipe:
            - join:
                data: ?$ families
                with: ?$ properties
                by:
                  - 'code:cod_family'
                  - 'product:cod_product'
            - transform:
                data: ?$ families
                keys:
                  cod_section: section
                  cod_product_line: product_line
          - pipe:
            - join:
                data: ?$ subfamilies
                with: ?$ properties
                by:
                  - 'code:cod_subfamily'
                  - 'product:cod_product'

            - transform:
                data: ?$ subfamilies
                keys:
                  cod_section: section
                  cod_product_line: product_line
                  cod_family: family

  # Sort
  - parallel:
    - sort:
        data: ?$ platforms
        function: sortCountries
    - sort:
        data: ?$ product_lines
        by: section
    - sort:
        data: ?$ families
        by: product
    - sort:
        data: ?$ subfamilies
        by: product


  # Filter entities information
  - parallel:
    - filter:
        data: ?$ campaigns
        function: >
          (row, index, self) => row.state 
          && 
          self.findIndex(cmp => cmp.code === row.code) === index 
    - filter:
        data: ?$ warehouses
        keys:
          preserve:
            - code
            - description
            - display
    - filter:
        data: ?$ families
        keys:
          preserve:
            - code
            - description
            - display
            - cod_brand
            - section
            - product
            - product_line
    - filter:
        data: ?$ subfamilies
        keys:
          preserve:
            - code
            - description
            - display
            - cod_brand
            - section
            - product
            - product_line
            - family
    - filter:
        data: ?$ markets
        keys:
          preserve:
            - code
            - description
            - display
    - filter:
        data: ?$ platforms
        keys:
          preserve:
            - code
            - description
            - display
            - market
            - parents

  # Data grouping
  - parallel:
    - pipe:
      - group:
          data: ?$ product_lines
          concat:
            - cod_brand
            - product
            - code
          by:
            - description
            - section
      - group:
          data: ?$ product_lines
          children: true
          by:
            - section
      - transform:
          data: ?$ product_lines
          operations:
            - delete: description
            - delete: code
            - delete: cod_brand
            - delete: product
            - add: header
              value: true
    - pipe:
      # Family grouping
      - group:
          data: ?$ families
          concat:
            - code
            - cod_brand
            - product
            - product_line
          by:
            - description
            - product
      - transform:
          data: ?$ families
          operations:
            - add: parents
              value: "row => ({ product: row.product, section: row.section, product_line: row.product_line })"
      - group:
          data: ?$ families
          children: true
          by:
            - product
      - transform:
          data: ?$ families
          operations:
            - delete: description
            - delete: section
            - delete: product_line
            - delete: code
            - match: parents
              value: 'row => ({ product: row.product, section: null, product_line: null })'
    # Subfamily grouping
    - pipe:
      - group:
          data: ?$ subfamilies
          concat:
            - code
            - cod_brand
            - product
            - product_line
          by:
            - description
            - product
      - transform:
          data: ?$ subfamilies
          operations:
            - add: parents
              value: "row => ({ product: row.product, section: row.section, product_line: row.product_line, family: row.family })"
      - group:
          data: ?$ subfamilies
          children: true
          by:
            - product
      - transform:
          data: ?$ subfamilies
          operations:
            - delete: description
            - delete: section
            - delete: product_line
            - delete: code
            - delete: family
            - match: parents
              value: 'row => ({ product: row.product, section: null, product_line: null, family: null })'
    # Platform grouping
    - pipe:
      - group:
          data: ?$ platforms
          children: true
          by:
            - market
      - transform:
          data: ?$ platforms
          operations:
            - delete: description
            - add: header
              value: true
            - add: parents
              value: 'row => ({ market: row.market })'

  # Join parents data
  - parallel:
    - join:
        data: ?$ product_lines
        with: sections
        by:
          - 'section:code'
    - join:
        data: ?$ platforms
        with: markets
        by: 
          - 'market:code'
    - join:
        data: ?$ families
        with: products
        by: 
          - 'product:code'
    - join:
        data: ?$ subfamilies
        with: products
        by:
          - 'product:code'

  # Set data in ctx.state.data
  - middleware: setData
