@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons|Material+Icons+Outlined');

/* themes */
@import './../packages/synth-components/src/global/themes';

/* flex */
@import './../packages/synth-components/src/global/flex';

/* animate */
@import './../packages/synth-components/src/global/third-party/animate';


