.toggler__wrapper {
    --size: 11px;
    color: var(--gui-color);
    font-size: var(--gui-font--base);
    background: var(--gui-color--lighter);
    padding: 2px;
    width: 26px;
    border-radius: 14px;
    margin-left: var(--gui-padding--xs);
    transition: var(--gui-transition--300);
    height: var(--size);
    cursor: pointer;

    .toggler {
        border-radius: 100%;
        width: var(--size);
        height: var(--size);
        background: var(--gui-color--background);
        transition: var(--gui-transition--300);
    }

    &.active {
        background: var(--gui-color);

        .toggler {
            transform: translateX(15px);
        }
    }

    &.modern {
        padding: 0;
        height: 11px;
        width: 21px;

        .toggler {
            border: 1px solid var(--gui-color--light);
        }
        &.active {
            .toggler {
                transform: translateX(9px);
                border: var(--gui-border);
            }
        }
    }
}
