.selector__container {
    color: var(--gui-color);
    font-size: var(--gui-font--base);
    position: relative;

    .selector__input {
        border-bottom: var(--gui-border);
        padding-bottom: var(--gui-padding--xxxs);
        cursor: pointer;
        user-select: none;

        label {
            cursor: pointer;
            text-transform: capitalize;
            transition: var(--gui-transition--300);

            &.active {
                font-size: var(--gui-font--xxs);
                font-weight: var(--gui-font-weight--bold);
                position: absolute;
                margin-top: calc(calc(var(--gui-padding--m) * -1) - var(--gui-padding--xxxs));
            }
        }
        em {
            font-size: var(--gui-font--s);
            transition: var(--gui-transition--300);
            margin-left: var(--gui-padding--xxs);

            &.active {
                transform: rotate(180deg);
            }
        }
    }
    &.modern {
        .selector__input {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    &.redesign {
        .selector__input {
            border-bottom: none;
        }
        span {
            text-transform: uppercase;
        }
    }
    &.disabled {
        color: var(--gui-color--lighter);

        .selector__input {
            cursor: default;
            border-bottom: var(--gui-border--lighter);
        }
    }
}
