.selector__container {
    font-size: var(--gui-font--xxs);

    .selector__input {
        border-bottom: var(--gui-border);
        padding-bottom: var(--gui-padding--xxs);
        cursor: pointer;
        user-select: none;
        width: fit-content;

        label {
            cursor: pointer;
            font-weight: var(--gui-font-weight--bold);
            text-transform: capitalize;
            transition: var(--gui-transition--300);

            &.active {
                font-size: var(--gui-font--xxxs);
                position: absolute;
                margin-top: calc(var(--gui-padding--s) * -1);
            }
        }
        em {
            font-size: var(--gui-font--s);
            transition: var(--gui-transition--300);
            margin-left: var(--gui-padding--xxs);

            &.active {
                transform: rotate(180deg);
            }
        }
    }
    &.modern {
        .selector__input {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}
