.wrapper {
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2
}

.triple-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3
}

.height-20 {
    height: 20px;
}

.right{
    text-align: right;
}

.bold {
    font-weight: var(--gui-font-weight--bold);
}

.bottomtext{
    color: rgb(231, 231, 231);
}

.border{
    border:1px solid #ccc!important;
    background-color: rgb(190, 190, 190);
}
.black{
    background-color: rgb(34, 34, 34)!important;
}