body {
  font-family: var(--gui-font-family);
  font-size: var(--gui-font--base);
  background-color: var(--gui-color--background);
}

:root {
    /* Padding and margin */
    --gui-padding--nano: 2px;
    --gui-padding--xxxs: 4px;
    --gui-padding--xxs: 6px;
    --gui-padding--xs: 8px;
    --gui-padding--s: 12px;
    --gui-padding--m: 16px;
    --gui-padding--l: 24px;
    --gui-padding--xl: 32px;
    --gui-padding--xxl: 48px;
    --gui-padding--xxxl: 64px;
    --gui-padding--huge: 124px;

    /* Letter spacing */ 
    --gui-space--s: 0.2px;
    --gui-space--m: 0.4px;
    --gui-space--l: 0.6px;

    /* Font sizes */
    --gui-font--base: 12px;
    --gui-font--nano: 0.5em; // 6px
    --gui-font--xxxs: .66em; // 8px
    --gui-font--xxs: .83em; // 10px
    --gui-font--xs: 1em; // 12px 
    --gui-font--s: 1.17em; // 14px
    --gui-font--m: 1.42em; // 17px 
    --gui-font--l: 1.6666666666666667em; // 20px
    --gui-font--xl: 2em; // 24px 
    --gui-font--xxl: 2.34em; // 28px 
    --gui-font--xxxl: 4em; // 48px

    /* font weights */
    --gui-font-weight--light: light;
    --gui-font-weight--normal: normal;
    --gui-font-weight--bold: bold;
    --gui-font-weight--extra-bold: bolder;

    /* font family */
    --gui-font-family: 'Roboto', sans-serif;
    --gui-font-family--zara: 'Zara', sans-serif;

    /* transitions */
    --gui-transition--300: all ease-in-out 300ms;

    /* shadows */
    --gui-shadow--small: 0 -10px 16px rgba(0, 0, 0, 0.12);
    --gui-shadow--tiny: 0 2px 11px rgba(0, 0, 0, 0.12);
    --gui-shadow--top: 0 -17px 16px rgba(0, 0, 0, 0.12);

    /* border radius */
    --gui-border-radius: 4px;
    --gui-border-radius--chip: 2px;
    --gui-border-radius--chip--modern: 14px;

    /* common sizes */ 
    --gui-header-size: 50px;
    --gui-header-size--modern: 118px;
    --gui-avatar-size: 40px;

    /* article */ 
    --gui-color--article--decoration: rgba(255, 255, 255, 0.7);

    /* fonts */
    --gui-font--body: normal var(--gui-font-weight--normal) var(--gui-font--base) var(--gui-font-family);
    --gui-font--heading--s: normal var(--gui-font-weight--bold) var(--gui-font--l)/var(--gui-font--xs) var(--gui-font-family);
    --gui-font--heading--l: normal var(--gui-font-weight--bold) var(--gui-font--xxl) var(--gui-font-family);
    --gui-font--label--l: normal var(--gui-font-weight--normal) var(--gui-font--xs) var(--gui-font-family);
    --gui-font--label--m: normal var(--gui-font-weight--bold) var(--gui-font--xs) var(--gui-font-family);
}
.redesign {
    --gui-font-family: 'Zara', sans-serif;
    --gui-header-size: 66px;
    --gui-font--body: normal var(--gui-font-weight--normal) var(--gui-font--base) var(--gui-font-family--zara);
    --gui-font--heading--s: normal var(--gui-font-weight--bold) var(--gui-font--l)/var(--gui-font--xs) var(--gui-font-family--zara);
    --gui-font--heading--l: normal var(--gui-font-weight--bold) var(--gui-font--xxl) var(--gui-font-family--zara);
    --gui-font--label--l: normal var(--gui-font-weight--normal) var(--gui-font--xs) var(--gui-font-family--zara);
    --gui-font--label--m: normal var(--gui-font-weight--bold) var(--gui-font--xs) var(--gui-font-family--zara);

    font-family: var(--gui-font-family);
}
