body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--gui-font--base);
  background-color: var(--gui-color--background);
}

:root {
    /* Padding and margin */
    --gui-padding--nano: 2px;
    --gui-padding--xxxs: 4px;
    --gui-padding--xxs: 6px;
    --gui-padding--xs: 8px;
    --gui-padding--s: 12px;
    --gui-padding--m: 16px;
    --gui-padding--l: 24px;
    --gui-padding--xl: 32px;
    --gui-padding--xxl: 48px;
    --gui-padding--xxxl: 64px;
    --gui-padding--huge: 124px;

    /* Font sizes */
    --gui-font--base: 12px;
    --gui-font--nano: 0.42em;
    --gui-font--xxxs: .66em;
    --gui-font--xxs: .9em;
    --gui-font--xs: 1em;
    --gui-font--s: 1.17em;
    --gui-font--m: 1.42em;
    --gui-font--l: 2em;
    --gui-font--xl: 2.66em;
    --gui-font--xxl: 4em;
    --gui-font--xxxl: 5.33em;

    /* font weights */
    --gui-font-weight--light: 300;
    --gui-font-weight--normal: 400;
    --gui-font-weight--bold: 500;
    --gui-font-weight--extra-bold: 600;

    /* font family */
    --gui-font-family: 'Roboto', sans-serif;

    /* transitions */
    --gui-transition--300: all ease-in-out 300ms;

    /* shadows */
    --gui-shadow--small: 0 -10px 16px rgba(0, 0, 0, 0.12);
    --gui-shadow--tiny: 0 2px 11px rgba(0, 0, 0, 0.12);
    --gui-shadow--top: 0 -17px 16px rgba(0, 0, 0, 0.12);

    /* border radius */
    --gui-border-radius: 4px;
    --gui-border-radius--chip: 2px;
    --gui-border-radius--chip--modern: 14px;

    /* common sizes */ 
    --gui-header-size: 50px;
    --gui-header-size--modern: 118px;
    --gui-avatar-size: 40px;

    /* article */ 
    --gui-color--article--decoration: rgba(255, 255, 255, 0.7);
}
