.dark {
    /* colors */
    --gui-color--background: #181818;
    --gui-color--background--light: rgb(49, 49, 49);
    --gui-color--background--lighter: #313030;

    --gui-color: rgba(255, 255, 255, 1);
    --gui-color--background--contrast: rgba(255, 255, 255, 0.9);
    --gui-color--modern: #2d2d2d;
    --gui-color--modern--contrast: rgba(0, 0, 0, .9);

    /* borders */
    --gui-border: 1px solid #777777;
    --gui-border--light: 1px solid rgb(255 255 255 / 5%);
    --gui-border--lightest: none;

    /* shadows */
    --gui-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.19);

    /* filters */
    --gui-logo-filter: invert(1);
    --gui-widget-filter: saturate(180%) blur(5px);
    --article-filter: opacity(0.8);

    /* tabs */
    --gui-tab-shadow: inset 0px -2px 0px 0px #fff;
}

@media only screen and (max-width: 1024px) {
    .search-box {
        border-bottom: var(--gui-border) !important;
    }
}
