:root {
    /* colors */
    --gui-color--background: white;
    --gui-color--background--light: rgb(245, 245, 245);
    --gui-color--background--lighter: white;
    --gui-color--background--modern: #e2e7e8;

    --gui-color: #222;
    --gui-color--dark: #383838;
    --gui-color--light: #767676;
    --gui-color--lighter: #bebebe;
    --gui-color--lightest: #eaeaea;
    --gui-color--modern: #3c585f;
    --gui-color--modern--contrast: var(--gui-color);

    --gui-color--background--contrast: var(--gui-color);
    --gui-color--contrast: var(--gui-color--background);

    --gui-color--highlight: #00a699;
    --gui-color--success: #27ae60;
    --gui-color--alert: #cf4433;
    --gui-color--attention: #ff904c;
    --gui-color--overlay: rgba(0, 0, 0, 0.25);
    --gui-color--link: #2a8bce;
    --gui-color--danger: #ff5a5f;

    --gui-color--article--footer: rgba(255, 255, 255, 0.7);

    /* borders */
    --gui-border: 1px solid var(--gui-color);
    --gui-border--dark: 1px solid var(--gui-color--dark);
    --gui-border--light: 1px solid var(--gui-color--light);
    --gui-border--lighter: 1px solid var(--gui-color--lighter);
    --gui-border--lightest: 1px solid var(--gui-color--lightest);

    /* shadows */
    --gui-shadow: 0px 2px 5px 0px rgb(0 0 0 / 3%), 0px 9px 11px 2px rgb(0 0 0 / 4%);
    --gui-shadow--tab: inset 0px -2px 0px 0px var(--gui-color);

    /* filters */
    --gui-logo-filter: invert(0);
    --gui-widget-filter: none;
    --article-filter: opacity(1);
    --gui-highlight-filter: brightness(.9);
}
