h1 {
    font-size: var(--zd-font--xl);
    margin: 0;
    margin-bottom: var(--zd-padding--xs);
}
h2 {
    font-size: var(--zd-font--l);
    margin: 0;
    margin-bottom: var(--zd-padding--xs);
}
h3 {
    font-size: var(--zd-font--s);
    margin-top: 6px;
    margin-bottom: var(--zd-padding--xs);
}
h4 {
    font-size: var(--zd-font--xs);
    font-weight: 600;
    margin: 0 0 var(--zd-padding--xs) 0;
}

h5 {
    font-size: var(--zd-font--xxs);
    font-weight: 600;
    margin: 0 0 var(--zd-padding--xs) 0;
}
