.scroll__container {
    .ps__rail-y {
        left: auto !important;
        opacity: 1 !important;
        width: 10px!important;

        &:hover, &:focus {
            .ps__thumb-y {
                width: 6px;
            }
        }
    }
    .ps__thumb-y,
    .ps__thumb-x {
        border-radius: 0;
        background-color: var(--gui-color--light);
    }
    .ps__thumb-y {
        width: 3px;
    }
    &:hover {
        .ps__rail-y {
            .ps__thumb-y {
                background-color: var(--gui-color);
            }
        }
    }
}
