.scrollbar__container {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);

    > div {
        width: var(--scrollbar-width);
        height: var(--scrollbar-height);
    }

    .ps__rail-y {
        margin-left: calc(100% - 10px);
        opacity: 1 !important;
        width: 10px !important;

        &:hover,
        &:focus {
            .ps__thumb-y {
                width: 6px !important;
            }
        }
    }
    .ps__rail-x {
        margin-top: calc(var(--scrollbar-height) - 10px);
        opacity: 1 !important;
        height: 10px !important;
        &:hover,
        &:focus {
            .ps__thumb-x {
                height: 6px !important;
            }
        }
    }
    .ps--clicking {
        .ps__thumb-y {
            width: 6px !important;
        }
        .ps__thumb-x {
            height: 6px !important;
        }
    }
    .ps__thumb-y,
    .ps__thumb-x {
        border-radius: 0;
        background-color: var(--gui-color--light);
    }
    .ps__thumb-y {
        width: 3px;
    }
    .ps__thumb-x {
        height: 3px;
    }
    &:hover {
        .ps__rail-y {
            .ps__thumb-y {
                background-color: var(--gui-color);
            }
        }
        .ps__rail-x {
            .ps__thumb-x {
                background-color: var(--gui-color);
            }
        }
    }
}
