.button__wrapper {
    background-color: var(--zd-color--primary);
    padding: var(--zd-padding--xs) var(--zd-padding--m);
    display: inline-flex;
    vertical-align:middle;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    font-size: var(--zd-font--xs);

    &:hover {
        filter: brightness(.95);
    }

    &.icon {
        padding: var(--zd-padding--xs);
    }
}
