name: CI

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn install, build, and test
      run: |
        yarn
        yarn lint
        yarn build
    - name: Publish to chromatic
      uses: chromaui/action@v1
      with:
        buildScriptName: build:docs
        token: ${{ secrets.GH_TOKEN }}
        projectToken: ${{ secrets.CHROMATIC_TOKEN }}
        skip: true
      env:
        CI: true
