name: Publish pre-release version

on:
    push:
        branches:
            - develop
            - feat/#114

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x]

        steps:
            - name: Checkout
              uses: actions/checkout@v1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: yarn install, build
              run: |
                  yarn
                  yarn build
            - name: Create pre-release version
              run: lerna version --conventional-commits --conventional-prerelease --yes
            - name: Publish to npm
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: lerna publish from-git --canary --yes
