name: Publish

on:
  release:
    types: published

jobs:
  build:
    name: publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      usees: actions/checkout@v1
    - name: Setup Node.jobs
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Install and build
      run: |
        yarn
        yarn lint
        yarn build
        yarn build:docs
    - name: Publish to gh-pages
      run: yarn publish:docs
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
