name: Publish pre-release version

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  submodules: recursive
                  token: ${{ secrets.GH_TOKEN }}
            - name: Use Node.js 14.x
              uses: actions/setup-node@v2
              with:
                  node-version: 14.x
                  registry-url: 'https://registry.npmjs.org'
            - name: Configure Git User
              run: |
                  git config --global user.email "ci@glyph.com"
                  git config --global user.name "ci@$GITHUB_ACTOR"
            - name: yarn install, build
              run: |
                  yarn
                  yarn build
            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
              run: npx semantic-release
            - name: Publish to npm
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: |
                npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
                lerna publish from-git --yes --no-verify-access
