::-webkit-scrollbar {
    display: none;
}
b {
    font-weight: var(--gui-font-weight--extra-bold);
}
h1 {
    font: var(--gui-font--heading--l);
    margin: 0;
    margin-bottom: var(--gui-padding--xs);
    text-transform: uppercase;

    &.big {
        font-size: var(--gui-font--xxl);
    }
}
h2 {
    font-size: var(--gui-font--l);
    line-height: var(--gui-font--xs);
    margin: 0;
    margin-bottom: var(--gui-padding--xs);
}
h3 {
    font-size: var(--gui-font--s);
    margin-top: 6px;
    margin-bottom: var(--gui-padding--xs);
}
h4 {
    font-size: var(--gui-font--xs);
    font-weight: 600;
    margin: 0 0 var(--gui-padding--xs) 0;
}
h5 {
    font-size: var(--gui-font--xxs);
    font-weight: 600;
    margin: 0 0 var(--gui-padding--xs) 0;
}
.label--l {
    font-size: var(--gui-font--xs);

    &--medium {
        font-weight: var(--gui-font-weight--bold);
    }
}

.caption {
    font-size: var(--gui-font--xxs);
    font-weight: var(--gui-font-weight--normal);

    &--small {
        font-size: var(--gui-font--xxxs);
    }
}

.redesign {
    h1, h2, h3, h4, h5 {
        text-transform: uppercase;
    }
    h2 {
        font-size: var(--gui-font--l);
        margin: 0;
        font-weight: var(--gui-font-weight--bold);
        margin-bottom: var(--gui-padding--xs);
        letter-spacing: var(--gui-space--s);
    }
    h5 {
        font-size: var(--gui-font--xs);
    }
    .label--l {
        letter-spacing: var(--gui-space--m);
        text-transform: uppercase;
    }
}
